body{
    background-color: aquamarine;
}
#i2{
    font-size: 100px;
    color:rgb(22, 1, 255);
}
#i1{
    font-size: 100px;
 color:rgb(255, 94, 1);
 
}
#i3{
    font-size: 100px;
 color:rgb(1, 170, 255);
}